# Series
- Use **type** to get data type
- Each column is a Series
- Series show data type (dtype)
- Calculate with Series
    - Daily change
    - Daily percentage change
    - Normalize data
- Similar to Excel
- Indexing with Series

In [1]:
import pandas as pd

In [2]:
remote_file = "https://raw.githubusercontent.com/LearnPythonWithRune/FinancialDataAnalysisWithPython/main/files/AAPL.csv"
test = pd.read_csv(remote_file, index_col=0, parse_dates=True)

In [3]:
data = pd.read_csv('AAPL.csv',index_col=0,parse_dates=True)

In [4]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400

In [8]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data['Close']

Date
2020-01-27     77.237503
2020-01-28     79.422501
2020-01-29     81.084999
2020-01-30     80.967499
2020-01-31     77.377502
                 ...
2021-01-20    132.029999
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    142.080002
Name: Close, Length: 253, dtype: float64

In [7]:
type(data['Close'])

pandas.core.series.Series

In [11]:
daily_chg = data['Open'] - data['Close']

In [12]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-27  77.514999  77.942497  76.220001  77.237503  76.576187  161940000
2020-01-28  78.150002  79.599998  78.047501  79.422501  78.742477  162234000
2020-01-29  81.112503  81.962502  80.345001  81.084999  80.390747  216229200
2020-01-30  80.135002  81.022499  79.687500  80.967499  80.274246  126743200
2020-01-31  80.232498  80.669998  77.072502  77.377502  76.714989  199588400

In [13]:
daily_chg

Date
2020-01-27    0.277496
2020-01-28   -1.272499
2020-01-29    0.027504
2020-01-30   -0.832497
2020-01-31    2.854996
                ...
2021-01-20   -3.369995
2021-01-21   -3.069992
2021-01-22   -2.790008
2021-01-25    0.150009
2021-01-26    1.520004
Length: 253, dtype: float64

In [14]:
type(daily_chg)

pandas.core.series.Series

In [16]:
daily_pct_chg = (data['Close'] - data['Open'])/data['Open']*100

In [17]:
daily_pct_chg

Date
2020-01-27   -0.357990
2020-01-28    1.628278
2020-01-29   -0.033908
2020-01-30    1.038868
2020-01-31   -3.558403
                ...
2021-01-20    2.619303
2021-01-21    2.294463
2021-01-22    2.047262
2021-01-25   -0.104850
2021-01-26   -1.058499
Length: 253, dtype: float64

In [18]:
data['Close'].iloc[0]

77.237503

In [19]:
data['Close'].iloc[-1]

142.080002

In [20]:
norm = data['Close']/data['Close'].iloc[0]

In [21]:
# gain 83 % return from 1.00 to 1.839521
norm

Date
2020-01-27    1.000000
2020-01-28    1.028289
2020-01-29    1.049814
2020-01-30    1.048293
2020-01-31    1.001813
                ...
2021-01-20    1.709403
2021-01-21    1.772067
2021-01-22    1.800550
2021-01-25    1.850396
2021-01-26    1.839521
Name: Close, Length: 253, dtype: float64

In [22]:
data['Close'].iloc[0]*norm.iloc[-1]

142.080002

In [23]:
data['Close'].iloc[-1]

142.080002